<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Restosoft_Entities" connectionString="metadata=res://*/Entity.Restosoft_Model.csdl|res://*/Entity.Restosoft_Model.ssdl|res://*/Entity.Restosoft_Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=restosoft&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>